<ion-view view-title="{{chatName}}">
	<ion-content class="padding messagescroll" start-y="120">
        <ol class="messages">
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
          <li >
          	<img ng-src="{{imgSrc}}" />
          </li>
        </ol>
  	</ion-content>
</ion-view>