<ion-view view-title="Chats">
	<ion-content>
  	<div ng-repeat="chat in chats">
  		<div ng-if="$index%2==0" class="row">
           <div class="col col-50">
            <div class="card" >
    		  	  <a class="item item-body" href="#/app/chats/{{chats[$index].user}}">
    			    <img class="full-image" ng-src="{{ chats[$index].thumbnail }}">
    			    <!-- <h2>{{chats[$index].name}}</h2> -->
    		  	  </a>
      		</div>
           </div>
           <div ng-if="chats[$index + 1]" class="col col-50">
            <div ng-if="chats[$index + 1]" class="card" >
    		  	  <a class="item item-body" href="#/app/chats/{{chats[$index  + 1].user}}">
    			    <img class="full-image" ng-src="{{ chats[$index + 1].thumbnail }}">
    			    <!-- <h2>{{chats[$index + 1].name}}</h2> -->
    		  	  </a>
      		</div>
           </div>
        </div>
  	</div>
  </ion-content>
</ion-view>