<ion-view view-title="{{chatName}}">
	<ion-content class="padding messagescroll" start-y="120">
        <ol class="messages">
          <li collection-repeat="item in items"
          	  collection-item-height="200">
          	<img ng-src="{{item.imgSrc}}" ng-click="item.genFunc()"/>
          	<span>{{item.mpicId}}</span>
          </li>
        </ol>
  	</ion-content>
  	<div class="bar bar-footer bar-light item-input-inset" ng-controller="SearchController">
  	   <!-- <label class="item item-input">
	    <input type="text" placeholder="First Name">
	  </label>
	  <button class="button pull-right icon ion-gear-a"></button> -->
	  <label class="item-input-wrapper">
    <!-- <i class="icon ion-ios7-search placeholder-icon"></i> -->
	    <input type="search" placeholder="Search" ng-model="searchText" />
	  </label>
	  <button class="button button-clear icon ion-gear-a"
	  		  ng-disabled="!searchText"
	  		  ng-click="search()"/>
	</div>
</ion-view>