.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	clear:both;
	max-width:100%;
	margin:0 0 1rem 0;
	padding:0;
}

.messages li:nth-child(even) {
	float:right;
}

.messages li:nth-child(even) img {
	float:right;
}

.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

.preview-box {
	height: 80px;
	position: absolute;
	bottom: 44px;
	/*background-color: red;*/
	width: 100%;
}


.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

.search-result {
	bottom: 45px;
}

